.pokeCard {
    box-shadow: 0 0 15px rgb(234, 232, 241);
    border-radius: 10%;
    background-color: rgba(54, 54, 54, 0.377);
    width: 200px;
    height: 200px;
    color: white ; 
    margin-top: 20px;
}
.name {
  color: white;
  text-decoration: none;
}
.pokeCard:hover {
transform: scale(1.2);
}

ul{
display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 22px;
  }

/* .container {
    display: flex; 
    justify-content: flex-start; 
} */

.container {
  height: 100vh;
}